/*
button:hover{
  size: 2x;
}

.login {
  min-height: 100vh;
  background-image: url("./background.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.mainClass{
  text-align: center;
  max-width: 400px;
  background-attachment:fixed;
 
  margin-left: 550px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  background: transparent;
  border-radius: 17px;
 height: 450px;
  
}

.btn-primary{
  background-color:rgb(0, 0, 255);
  border-radius: 5px;
  color:white;
  width:100px;
 
  padding: 4px;
  margin-left: -55px;
}
.inputVals{
  
  width:90%;
  margin-left: 40px;
  background: transparent;
 
  
}
#loginName{
  height:45px;
  border-left:#f9f9f9;
  border-top:#f9f9f9;
  border-right:#f9f9f9;
  border-bottom: 4px solid rgb(0,0,0);
  background:transparent;
}

#loginPassword{
  height:45px;
  border-left:#f9f9f9;
  border-top:#f9f9f9;
  border-right:#f9f9f9;
  border-bottom: 4px solid rgb(0, 0, 0);
  background:transparent;
}
a{
  text-decoration: none;
}
.logo{
  text-align: center;
  margin-left: 0px;
}
.logospan{
color:blue;
}
.loginLogo{
  text-align: center;
  width: 150px;
  
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 2px;
  margin-left: 107px;
  text :blue;
  textShadow: 1px 1px 20px black, 0 0 25px blue, 0 0 50px darkblue;
}





.Anchor{
    text-decoration: none;
    border-width: 20px;
    margin:20px;
    padding:3px;
    color:solid black;
    border-radius: 5px;
    text-decoration:red;
    padding: 10px;
    
}
.Anchor:hover{
    
    background-color: rgba(159, 150, 151, 0.461);
    transition-duration: 1s;
}
.conatiner{
    margin:50px;
    background-color: blue;
}
.mainDiv{
    background-color:#366367;
}
.mainDiv:hover{
    background-color:cornflowerblue;
    transition-duration: 1.5s;
}
.navbar{
    width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: '3rem 2fr 3fr ';
  background-color:'#7bb198'
}


.collapse{
  border-radius: 20px;;
}
.card-meeting{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}
.card-inside{
  background-color: rgb(173, 152, 152);
  width:60%;
  height: 75%;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(185, 164, 164, 0.749);
  background: transparent;
}



*/



